.main-signup {
    position:absolute;
    border: 1px solid #310080;
    width:400px;
    height:530px;
    box-shadow: 5px 5px 2px rgba(179, 255, 0, 0.616);
    align-content: center;
    float:left;
  }

  .main-login {
    position:absolute;
    border: 1px solid #310080;
    width:400px;
    height:140px;
    box-shadow: 5px 5px 2px rgba(179, 255, 0, 0.616);
    align-content: center;
    float: right;
  }



  h3, img, #form{
    margin-left: 5px;
    margin-right: 10px;
  }

  .button{
      align-content: center;
  }

  .facts{
    font-style: italic;
    text-align: left;
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 5px;
  }

  ul li{
    float: left;
    width: 60px;
    height: 50px;
    opacity: .8;
    line-height:40px;
    text-align: left;
    font-size: 18px;
    align-self: left;
    margin-right: 2px;
    list-style-type: none;
    padding-left: 0.5 px;
    
  }

  
ul li a{
  text-decoration: none;
  color:red;
  display: block;
}

ul li a:hover{
background-color:#9aecb99c;
}

